.app-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.app-box {
    background-color: #f5f5f5; /* Light grey background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
    overflow: hidden;
}

.app-box img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ffffcc; /* Yellow border at the bottom */
}

.app-box p {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
