body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Light blue background */
}
header {
    background-color: #6495ED; /* Medium blue for header */
    color: white;
    padding: 1px;
    text-align: center;
}
.top-nav {
    background-color: #4169E1; /* Dark blue for navigation bar */
    padding: 0;
    top: 0;
}
.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}
.top-nav ul li {
    display: inline;
}
.top-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.top-nav ul li a:hover {
    background-color: #3d64c7; /* Darker shade on hover */
}
.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}
.play-button {
    background-color: #4169E1; /* Darker blue for play button */
    color: white;
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}
.play-button:hover {
    background-color: #3d64c7; /* Darker shade on hover */
}
footer {
    background-color: #6495ED; /* Medium blue for footer */
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer {
    background-color: #6495ED; /* Medium blue for footer */
    color: white;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: undereline;
}
.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
a {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #4169E1; /* Dark blue for links */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
spacer {
    height: 10px;
}
.center {
    text-align: center;
}
