
        .center {
            text-align: center;
        }

        input {
            height: 40px;
            border-radius: 6px;
            border: 1px solid #e0e0e0; /* Slightly darker grey for inputs */
            color: #333333;
            background-color: #ffffcc; /* Pale yellow for inputs */
            padding: 0 15px;
            margin-bottom: 10px;
            box-sizing: border-box;
            width: calc(100% - 30px);
            transition: background-color 0.3s ease;
        }

        input:focus {
            outline: none;
        }

        input:hover {
            background-color: #ffff99; /* Lighter shade of yellow on hover */
        }

        button {
            height: 40px;
            border-radius: 6px;
            background-color: #ffffcc; /* Pale yellow for buttons */
            color: #333333;
            padding: 0 20px;
            margin-bottom: 10px;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        button:hover {
            background-color: #ffff99; /* Lighter shade of yellow on hover */
            color: #666666; /* Darker grey text color on hover */
        }
