/* Shared styles for all pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.tab-mask, .theme-options {
    display: flex;
    flex-direction: column;
}

.icon-mask, .title-mask {
    margin-bottom: 20px;
}

.icon-mask h3, .title-mask h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.theme-options label {
    margin-right: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4169E1;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3a5dc7;
}

/* Additional styles for settings page */
.icon-mask select, .title-mask input[type="text"] {
    margin-top: 5px;
}

.theme-options input[type="radio"] {
    margin-right: 10px;
    display: none; /* Hide the radio buttons */
}

.theme-options label {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Accent color: Light yellow */
.light-yellow {
    color: #666600; /* Darker shade of yellow */
    background-color: #ffffcc; /* Light yellow */
    border: 1px solid #cccc99; /* Lighter shade of grey */
    border-radius: 5px;
}

.light-yellow:hover {
    background-color: #ffffb3; /* Slightly darker shade of yellow on hover */
}

/* Styles for icon select */
#iconSelect {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333333;
    margin-top: 5px;
}
